In [1]:
## Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in c:\users\rdrlr\anaconda3\envs\dojo-env\lib\site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rdrlr\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\rdrlr\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (23.0)

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

## importing plotly 
import plotly.express as px

In [3]:
## Load in csv.gz
df = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.3,1243.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.0,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.5,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.4,132.0,PG-13

In [4]:
## use .apply pd.Series to convert a dict to columns
df['genres'].apply(pd.Series)

                                                      0
0                                                   NaN
1     [{'id': 10749, 'name': 'Romance'}, {'id': 14, ...
2     [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
3     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4     [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
...                                                 ...
1351                     [{'id': 27, 'name': 'Horror'}]
1352                    [{'id': 37, 'name': 'Western'}]
1353                     [{'id': 27, 'name': 'Horror'}]
1354  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
1355  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...

[1356 rows x 1 columns]

- Why didn't that work???

In [16]:
## slice out a single test record
test_record = df.loc[1, 'genres']
test_record

"[{'id': 10749, 'name': 'Romance'}, {'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}]"

In [17]:
type(test_record)

str

- Its not a dictionary anymore!!! What??
    - CSV files cant store iterables (lists, dictionaries) so they get converted to strings.

### Fixing the String-Dictionaries

- The json module has another version of load and dump called `json.loads` and `json.dumps`
    - These are designed to process STRINGS instead of files. 
    
- If we use `json.loads` we can convert our `string dictionary` into an `actual dictionary`.

In [32]:
## Use json.loads on the test coordinate
json.loads(test_record)

[{'id': 10749, 'name': 'Romance'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 35, 'name': 'Comedy'}]

### JSON requires double quotes!
We got a `JSON Decode Error` because JSON was `expecting double quotes` inside
of the dictionary

In [33]:
# Check the single record
test_record

'[{"id": 10749, "name": "Romance"}, {"id": 14, "name": "Fantasy"}, {"id": 35, "name": "Comedy"}]'

### We are now going to use the .replace( ) function to replace single ' with double "

In [34]:
## replace single ' with double " 
test_record = test_record.replace("'", '"')
test_record

'[{"id": 10749, "name": "Romance"}, {"id": 14, "name": "Fantasy"}, {"id": 35, "name": "Comedy"}]'

In [35]:
## Use json.loads on the test again
json.loads(test_record)

[{'id': 10749, 'name': 'Romance'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 35, 'name': 'Comedy'}]

In [36]:
# viewing type after using json.loads
type(json.loads(test_record))

list

In [37]:
## slice out a single test coordinate
test_records = df.loc[1, 'genres']
test_records

'[{"id": 10749, "name": "Romance"}, {"id": 14, "name": "Fantasy"}, {"id": 35, "name": "Comedy"}]'

In [38]:
type(test_record)

str

### Using .apply with pd.Series to convert a dictionary column into multiple columns
This is the process of unpacking the dictionary to columns

In [39]:
## use .apply pd.Series to convert a dict to columns
df['genres'].apply(pd.Series)

                                                      0
0                                                   NaN
1     [{"id": 10749, "name": "Romance"}, {"id": 14, ...
2     [{"id": 53, "name": "Thriller"}, {"id": 28, "n...
3     [{"id": 28, "name": "Action"}, {"id": 12, "nam...
4     [{"id": 18, "name": "Drama"}, {"id": 10402, "n...
...                                                 ...
1351                     [{"id": 27, "name": "Horror"}]
1352                    [{"id": 37, "name": "Western"}]
1353                     [{"id": 27, "name": "Horror"}]
1354  [{"id": 28, "name": "Action"}, {"id": 53, "nam...
1355  [{"id": 27, "name": "Horror"}, {"id": 53, "nam...

[1356 rows x 1 columns]

In [41]:
## Concatenate the 2 new columns and drop the original.
df = pd.concat([df, df['genres'].apply(pd.Series)], axis = 1)
#df = df.drop(columns = 'genres')
df.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,0
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 14, ...",NaN,11232.0,en,Kate & Leopold,...,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.3,1243.0,PG-13,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 14, ..."

- Use the plotly express `scatter_mapbox` function

# i got lost, will need help i annot figure how to turn them into dictionary to continue with next process.